:host {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
    'header header header header header header header header header header header header'
    'aside aside content content content content content content content content content content'
    'footer footer footer footer footer footer footer footer footer footer footer footer';

  @media screen and (max-width: 768px) {
    grid-template-areas:
      'header header header header header header header header header header header header'
      'aside aside aside adide content content content content content content content content'
      'footer footer footer footer footer footer footer footer footer footer footer footer';
  }
}

mat-toolbar.header {
  grid-area: header;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2rem;
  z-index: 3;

  h1 {
    flex: 3 1 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .github-link {
    align-self: flex-end;
  }

  .labs-link,
  .github-link {
    cursor: pointer;
  }
}

aside {
  grid-area: aside;
  padding-top: 1.5rem;
  display: flex;
  flex-flow: column wrap;
  background-color: #e2e3e6;
}

main {
  grid-area: content;
  padding: 2rem;
}

mat-toolbar.footer {
  grid-area: footer;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  font-size: 12px;
}
