<mat-toolbar class="header mat-elevation-z4" color="primary">
  <a class="labs-link" title="This Dot Labs" href="https://labs.thisdot.co/" target="_blank"
    ><this-dot-this-dot-logo></this-dot-this-dot-logo
    ><span class="cdk-visually-hidden">This Dot Labs</span></a
  >
  <h1>Open source</h1>
  <a
    class="github-link"
    title="View the repository"
    href="https://github.com/thisdot/open-source"
    target="_blank"
    ><this-dot-github-logo></this-dot-github-logo
    ><span class="cdk-visually-hidden">View the repository</span></a
  >
</mat-toolbar>

<aside>
  <a mat-button color="accent" routerLink="/first">first</a>
  <a mat-button color="accent" routerLink="/second">second</a>
</aside>

<main>
  <h2 *ngIf="title$ | async as title">{{ title }}</h2>

  <router-outlet></router-outlet>

  <ng-container *tdRouteTag="'show'; else noShowTag">
    <p>This text is only visible, if there is a 'routeTag.SHOW' in the route data</p>
  </ng-container>
  <ng-template #noShowTag>
    <p>There is no show tag in this route's config</p>
  </ng-template>
</main>

<mat-toolbar class="footer">© ThisDotLabs 2021</mat-toolbar>
